* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {margin-top: 5%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;

    /* used  to show the loading fading effect */
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    color: white;
    text-decoration: none;
}

.header {
    font-size: 3vb;
    text-transform: uppercase;
    align-items: baseline;
    letter-spacing: 3px;
    margin: 5%;
    padding: 1%;
    color: #0ff; /* Neon Cyan */
  }
.main{
    min-width: 500px;
}
.game-container {max-width: 300px;
    width: 50%;
    margin: 0 auto;
}

.game {min-width: 200px;
    margin-top: 20px;
    padding: 10px 0;
    min-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid rgba(245, 245, 245, 0.315);
    background-color: rgb(85, 81, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.game:hover {
    transform: scale(1.1);
    background-color: rgb(201, 187, 187);
}

.game:active {
    transform: scale(1);
}

.thanksforvisiting {
    text-align: center;
    margin-top: 20px;
}

.about{
    display: flex;
    justify-self: center;
}